.sidebar-links:hover {
    color: black !important;
}

::-webkit-scrollbar {
    max-width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track {
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    background-color: #007bff !important;
    border-radius: 2.5px !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3 !important;
}